In [2]:
import pandas as pd

In [2]:
customer_info = pd.read_excel('1.1 고객정보.xlsx')
product_info = pd.read_excel('2.1 상품정보.xlsx')
order_info = pd.read_excel('3.1 주문정보.xlsx')
pay_info = pd.read_excel('4.1 결제정보.xlsx')
refund_info = pd.read_excel('5.1 환불정보.xlsx')

In [110]:
customer_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50288 entries, 0 to 50287
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   회원번호         50288 non-null  object
 1   회원등급         50288 non-null  object
 2   가입일          50288 non-null  object
 3   최종방문일        50288 non-null  object
 4   본인인증         43019 non-null  object
 5   성별           50288 non-null  object
 6   나이           32085 non-null  object
 7   자주쓰는배송지 도로명  50288 non-null  object
 8   자주쓰는배송지 지번   50288 non-null  object
dtypes: object(9)
memory usage: 3.5+ MB

In [109]:
customer_info = customer_info.astype({'회원번호':'str'})

In [103]:
product_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110798 entries, 0 to 110797
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   상품번호    110798 non-null  object
 1   상품명     110797 non-null  object
 2   업체명     110796 non-null  object
 3   카테고리명   110420 non-null  object
 4   브랜드명    85294 non-null   object
 5   상품구분    101847 non-null  object
 6   대표판매가   110796 non-null  float64
 7   배송비     110629 non-null  object
 8   판매상태    110795 non-null  object
 9   전시상태    110795 non-null  object
dtypes: float64(1), object(9)
memory usage: 8.5+ MB

In [112]:
order_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24766 entries, 0 to 24765
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   주문번호    24766 non-null  object
 1   순번      24766 non-null  int64
 2   주문일시    24766 non-null  object
 3   진행구분    24766 non-null  object
 4   배송지     24702 non-null  object
 5   상품번호    24766 non-null  object
 6   상품명     24766 non-null  object
 7   옵션명     9571 non-null   object
 8   수량      24766 non-null  int64
 9   판매가     24766 non-null  float64
 10  배송비     24766 non-null  float64
 11  쿠폰할인액   24766 non-null  float64
 12  회원주문여부  24766 non-null  object
 13  회원번호    24766 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 2.6+ MB

In [111]:
order_info = order_info.astype({'주문번호':'str','회원번호':'str'})

In [114]:
pay_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25499 entries, 0 to 25498
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   주문번호    25499 non-null  object
 1   결제번호    25499 non-null  int64
 2   결제일시    25499 non-null  object
 3   진행구분명   25499 non-null  object
 4   결제수단    25499 non-null  object
 5   결제금액    25499 non-null  float64
 6   카드사     13452 non-null  object
 7   할부개월    13620 non-null  float64
dtypes: float64(2), int64(1), object(5)
memory usage: 1.6+ MB

In [113]:
pay_info = pay_info.astype({'주문번호':'str'})

In [117]:
refund_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3790 entries, 0 to 3789
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   주문번호    3790 non-null   object
 1   환불번호    3790 non-null   int64
 2   진행구분    3790 non-null   object
 3   결제수단    3790 non-null   object
 4   환불금액    3790 non-null   float64
 5   할부개월    1849 non-null   float64
 6   환불일자    3790 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 207.4+ KB

In [116]:
refund_info=refund_info.astype({'주문번호':'str'})

In [3]:
df10 = pd.merge(refund_info, on='주문번호', how='inner')

NameError: name 'pay_info' is not defined

In [ ]:
df

In [3]:
df1 = pd.merge(order_info, customer_info, on = '회원번호', how='outer')

In [5]:
df9 = pd.merge(df1, pay_info, on = '주문번호', how='outer')

In [6]:
df9

,주문번호,순번,주문일시,진행구분,배송지,상품번호,상품명,옵션명,수량,판매가,...,나이,자주쓰는배송지 도로명,자주쓰는배송지 지번,결제번호,결제일시,진행구분명,결제수단,결제금액,카드사,할부개월
0,1.711081e+15,1.0,2017-11-08 08:46:26,환불완료,서울 영등포구 국제금융로2길 32,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1.0,48840.0,...,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.711081e+15,1.0,2017-11-08 09:04:28,결제취소,서울 영등포구 국제금융로2길 32,G1710311849_6973,(임직원 전용)[아름다운공간] 스윗도자기 원형디스펜서 (2color/400ml),색상:핑크,1.0,7800.0,...,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.711081e+15,2.0,2017-11-08 09:04:28,결제취소,서울 영등포구 국제금융로2길 32,G1710311849_6973,(임직원 전용)[아름다운공간] 스윗도자기 원형디스펜서 (2color/400ml),색상:스카이블루,1.0,7800.0,...,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.711291e+15,1.0,2017-11-29 09:02:43,결제취소,서울 영등포구 국제금융로2길 32,G1710271341_5922,[프리쉐] 휴대용 UV LED 칫솔살균기 PA-TS700,칼라:레드,1.0,9000.0,...,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.712131e+15,1.0,2017-12-13 09:37:03,구매확정,서울 영등포구 국제금융로2길 32,G1710271341_5922,[프리쉐] 휴대용 UV LED 칫솔살균기 PA-TS700,칼라:레드,1.0,9000.0,...,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8,1467.0,2017-12-13 09:37:03,완료,휴대폰결제,14400.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75904,1.709271e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,266.0,2017-09-27 14:09:35,완료,적립금,700.0,NaN,NaN
75905,1.709281e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,316.0,2017-09-28 09:55:33,완료,적립금,33200.0,NaN,NaN
75906,1.709282e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,357.0,2017-09-28 18:39:12,완료,적립금,6300.0,NaN,NaN
75907,1.709291e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,411.0,2017-09-29 11:43:07,완료,적립금,6300.0,NaN,NaN
75908,1.710101e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,466.0,2017-10-10 10:57:38,완료,적립금,33200.0,NaN,NaN

In [7]:
# customer, order, pay 파일 합쳐서 하나의 파일로 만들기
df9.to_excel('customer_order_pay_info.xlsx', index=False)

In [126]:
df2 = pd.merge(df1, product_info, on = '상품번호', how='inner')

In [127]:
df2

,주문번호,순번,주문일시,진행구분,배송지,상품번호,상품명_x,옵션명,수량,판매가,...,자주쓰는배송지 지번,상품명_y,업체명,카테고리명,브랜드명,상품구분,대표판매가,배송비_y,판매상태,전시상태
0,1711080845542139,1,2017-11-08 08:46:26,환불완료,서울 영등포구 국제금융로2길 32,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1,48840.0,...,서울 영등포구 여의도동 23-8,[케라미카] 바뎀 2인홈세트 (11p),에이젯,임직원 매장,KERAMIKA,일반,48840.0,0,판매중지,Y
1,1711211517343577,1,2017-11-21 15:20:02,구매확정,경기 고양시 일산서구 고양대로 620,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1,48840.0,...,경기 고양시 일산서구 일산동 960-6,[케라미카] 바뎀 2인홈세트 (11p),에이젯,임직원 매장,KERAMIKA,일반,48840.0,0,판매중지,Y
2,1711211129593553,1,2017-11-21 11:30:20,구매확정,서울 영등포구 여의대방로 25,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,2,97680.0,...,경기 성남시 분당구 백현동 582-7,[케라미카] 바뎀 2인홈세트 (11p),에이젯,임직원 매장,KERAMIKA,일반,48840.0,0,판매중지,Y
3,1804160919453623,1,2018-04-16 09:22:47,구매확정,전남 광양시 중마1길 21,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1,48840.0,...,서울 구로구 개봉동 472,[케라미카] 바뎀 2인홈세트 (11p),에이젯,임직원 매장,KERAMIKA,일반,48840.0,0,판매중지,Y
4,1804071522092693,1,2018-04-07 15:24:32,구매확정,부산 남구 용소로8번길 48,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1,48840.0,...,부산 동래구 안락동 628-82,[케라미카] 바뎀 2인홈세트 (11p),에이젯,임직원 매장,KERAMIKA,일반,48840.0,0,판매중지,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20096,1811062357169433,1,2018-11-06 23:59:03,배송준비중,경남 진주시 내동면 순환로 425-61,G1804231745_2858,[아름다운 공간] 파스텔 실리콘 다이아몬드 아이스몰드 (4color),색상:핑크,1,7500.0,...,-,[아름다운 공간] 파스텔 실리콘 다이아몬드 아이스몰드 (4color),아름다운공간,주방/욕실/청소용품,BEAUTIFULROOM,NaN,7500.0,50000.00 이하 2500.00,판매중,Y
20097,1811062357169433,2,2018-11-06 23:59:03,배송준비중,경남 진주시 내동면 순환로 425-61,G1804231745_2858,[아름다운 공간] 파스텔 실리콘 다이아몬드 아이스몰드 (4color),색상:블루,1,7500.0,...,-,[아름다운 공간] 파스텔 실리콘 다이아몬드 아이스몰드 (4color),아름다운공간,주방/욕실/청소용품,BEAUTIFULROOM,NaN,7500.0,50000.00 이하 2500.00,판매중,Y
20098,1811070323449447,1,2018-11-07 03:26:24,결제완료,서울 마포구 와우산로29길 40-18,G1808021322_7157,[어반테고] 패턴타일 H로즈 | 1BOX 18장 | 1 color,색상:H로즈 80,2,70000.0,...,-,[어반테고] 패턴타일 H로즈 | 1BOX 18장 | 1 color,어반테고,벽지/바닥재/타일,어반테고,일반,35000.0,1개6000.00,판매중,Y
20099,1811070853389462,1,2018-11-07 08:58:05,결제완료,전남 광양시 진등2길 13,G1805311643_8834,[월플랜] 풀바른실크벽지 (제인 소프트블루)_SH70170-5,"종류:만능풀바른벽지,벽높이 선택:230cm",5,49500.0,...,-,[월플랜] 풀바른실크벽지 (제인 소프트블루)_SH70170-5,월플랜,벽지/바닥재/타일,WALLPLAN,일반,6900.0,50000.00 이하 2500.00,판매중,Y
20100,1811070853389462,2,2018-11-07 08:58:05,결제완료,전남 광양시 진등2길 13,G1805311646_8841,[월플랜] 풀바른실크벽지 (제인 그레이네이비)_SH70170-6,"종류:만능풀바른벽지,벽높이 선택:230cm",4,39600.0,...,-,[월플랜] 풀바른실크벽지 (제인 그레이네이비)_SH70170-6,월플랜,벽지/바닥재/타일,WALLPLAN,일반,6900.0,50000.00 이하 2500.00,판매중,Y

In [128]:
df3 = pd.merge(df2, pay_info, on = '주문번호', how='inner')

In [129]:
df3

,주문번호,순번,주문일시,진행구분,배송지,상품번호,상품명_x,옵션명,수량,판매가,...,배송비_y,판매상태,전시상태,결제번호,결제일시,진행구분명,결제수단,결제금액,카드사,할부개월
0,1711211517343577,1,2017-11-21 15:20:02,구매확정,경기 고양시 일산서구 고양대로 620,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1,48840.0,...,0,판매중지,Y,1075,2017-11-21 15:20:02,완료,신용카드,39080.0,BC카드,0.0
1,1711211129593553,1,2017-11-21 11:30:20,구매확정,서울 영등포구 여의대방로 25,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,2,97680.0,...,0,판매중지,Y,1062,2017-11-21 11:31:16,완료,신용카드,75150.0,현대카드,0.0
2,1711211129593553,1,2017-11-21 11:30:20,구매확정,서울 영등포구 여의대방로 25,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,2,97680.0,...,0,판매중지,Y,1063,2017-11-21 11:30:20,완료,적립금,3000.0,NaN,NaN
3,1804160919453623,1,2018-04-16 09:22:47,구매확정,전남 광양시 중마1길 21,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1,48840.0,...,0,판매중지,Y,3512,2018-04-16 09:22:48,완료,신용카드,39080.0,신한카드,0.0
4,1804071522092693,1,2018-04-07 15:24:32,구매확정,부산 남구 용소로8번길 48,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1,48840.0,...,0,판매중지,Y,3170,2018-04-07 15:24:31,완료,신용카드,45840.0,현대카드,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27970,1811062243319422,1,2018-11-06 22:45:11,결제완료,서울 관악구 신원로1길 13,G1806291431_8536,(직배송) [정화] 목문 레버락 2000광개토GR,NaN,1,14200.0,...,50000.00 이하 3000.00,판매중,Y,31785,2018-11-06 22:45:46,완료,신용카드,17200.0,BC카드,0.0
27971,1811070323449447,1,2018-11-07 03:26:24,결제완료,서울 마포구 와우산로29길 40-18,G1808021322_7157,[어반테고] 패턴타일 H로즈 | 1BOX 18장 | 1 color,색상:H로즈 80,2,70000.0,...,1개6000.00,판매중,Y,31799,2018-11-07 03:27:16,완료,신용카드,67000.0,KB국민카드,6.0
27972,1811070323449447,1,2018-11-07 03:26:24,결제완료,서울 마포구 와우산로29길 40-18,G1808021322_7157,[어반테고] 패턴타일 H로즈 | 1BOX 18장 | 1 color,색상:H로즈 80,2,70000.0,...,1개6000.00,판매중,Y,31800,2018-11-07 03:27:16,완료,적립금,1000.0,NaN,NaN
27973,1811070853389462,1,2018-11-07 08:58:05,결제완료,전남 광양시 진등2길 13,G1805311643_8834,[월플랜] 풀바른실크벽지 (제인 소프트블루)_SH70170-5,"종류:만능풀바른벽지,벽높이 선택:230cm",5,49500.0,...,50000.00 이하 2500.00,판매중,Y,31804,2018-11-07 08:58:45,완료,신용카드,87100.0,신한카드,0.0
27974,1811070853389462,2,2018-11-07 08:58:05,결제완료,전남 광양시 진등2길 13,G1805311646_8841,[월플랜] 풀바른실크벽지 (제인 그레이네이비)_SH70170-6,"종류:만능풀바른벽지,벽높이 선택:230cm",4,39600.0,...,50000.00 이하 2500.00,판매중,Y,31804,2018-11-07 08:58:45,완료,신용카드,87100.0,신한카드,0.0

In [130]:
df = pd.merge(df3, refund_info, on = '주문번호', how='inner')

In [131]:
df

Empty DataFrame
Columns: [주문번호, 순번, 주문일시, 진행구분_x, 배송지, 상품번호, 상품명_x, 옵션명, 수량, 판매가, 배송비_x, 쿠폰할인액, 회원주문여부, 회원번호, 회원등급, 가입일, 최종방문일, 본인인증, 성별, 나이, 자주쓰는배송지 도로명, 자주쓰는배송지 지번, 상품명_y, 업체명, 카테고리명, 브랜드명, 상품구분, 대표판매가, 배송비_y, 판매상태, 전시상태, 결제번호, 결제일시, 진행구분명, 결제수단_x, 결제금액, 카드사, 할부개월_x, 환불번호, 진행구분_y, 결제수단_y, 환불금액, 할부개월_y, 환불일자]
Index: []

[0 rows x 44 columns]

In [87]:
# 본인이 생성한 테이블과 동일한 컬럼으로 파일 만들기
df.columns

Index(['주문번호', '순번', '주문일시', '진행구분_x', '배송지', '상품번호', '상품명_x', '옵션명', '수량',
       '판매가', '배송비_x', '쿠폰할인액', '회원주문여부', '회원번호', '회원등급', '가입일', '최종방문일',
       '본인인증', '성별', '나이', '자주쓰는배송지 도로명', '자주쓰는배송지 지번', '상품명_y', '업체명',
       '카테고리명', '브랜드명', '상품구분', '대표판매가', '배송비_y', '판매상태', '전시상태', '결제번호',
       '결제일시', '진행구분명', '결제수단_x', '결제금액', '카드사', '할부개월_x', '환불번호', '진행구분_y',
       '결제수단_y', '환불금액', '할부개월_y', '환불일자'],
      dtype='object')

In [93]:
df.rename(columns = {'회원번호':'CUSTOMER_NUM', '회원등급':'CUSTOMER_GR', '가입일':'SUB_DATE', '최종방문일':'FINAL_VISIT', '본인인증':'SELF_VERFICATION', '성별':'SEX','나이':'AGE','자주쓰는배송지 도로명':'ADDRESS_ROAD', '자주쓰는배송지 지번':'ADDRESS_NUM',
                     '주문번호':'ORDER_NUM', '순번':'ORDER_SEQ', '주문일시':'ORDER_DATE', '진행구분_x':'ORDER_CLASS', '배송지':'ADDRESS', '상품번호':'PRODUCT_NUM','상품명_x':'PRODUCT_NAME','옵션명':'OPCTION_NAME','수량':'ORDER_QTY', '판매가':'SELL_PRICE', '배송비_x':'DELIVERY_COST', '쿠폰할인액':'COUPON_DISCOUNT', '회원주문여부':'CUSTOMER_ORDER', 
                     '상품명_y':'PRODUCT_NAME', '업체명':'COMPANY_NAME', '카테고리명':'CATEGORY_NAME','브랜드명':'BRAND_NAME', '상품구분':'PRODUCT_CLASS', '대표판매가':'REP_SELL_PRICE', '배송비_y':'DELIVERY_COST', '판매상태':'SALES_STAT', '전시상태':'EXHIBIT_STAT', 
                     '결제번호':'PAY_NUM', '결제일시':'PAY_DATE','진행구분명':'OREDER_CLASS_NAME', '결제수단_x':'PAY_METHOD', '결제금액':'PAY_AMOUNT', '카드사':'CARD_COMPANY', '할부개월_x':'PAY_MONTH', 
                     '환불번호':'REFUND_NUM', '진행구분_y':'REFUND_CLASS', '결제수단_y':'PAY_METHOD','환불금액':'REFUND_AMOUNT', '할부개월_y':'REFRUND_MONTH', '환불일자':'REFUND_DATE'}, inplace=True)

In [94]:
df.head(5)

,ORDER_INFO,ORDER_SEQ,ORDER_DATE,OREDER_CLASS,ADDRESS,PRODUCT_NUM,PRODUCT_NAME,OPTION_NAME,ORDER_QTY,SELL_PRICE,...,PAY_METHOD,PAY_AMOUNT,CARD_COMPANY,PAY_MONTH,REFUND_NUM,REFUND_CLASS,PAY_METHOD,REFUND_AMOUNT,REFRUND_MONTH,REFUND_DATE
0,1711080845542139,1,2017-11-08 08:46:26,환불완료,서울 영등포구 국제금융로2길 32,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1,48840.0,...,NaN,NaN,NaN,NaN,731.0,취소,신용카드,32580.0,0.0,2017-11-30 18:00:06
1,1711080845542139,1,2017-11-08 08:46:26,환불완료,서울 영등포구 국제금융로2길 32,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1,48840.0,...,NaN,NaN,NaN,NaN,732.0,취소,적립금,500.0,NaN,2017-11-30 18:00:06
2,1711080902432145,1,2017-11-08 09:04:28,결제취소,서울 영등포구 국제금융로2길 32,G1710311849_6973,(임직원 전용)[아름다운공간] 스윗도자기 원형디스펜서 (2color/400ml),색상:핑크,1,7800.0,...,NaN,NaN,NaN,NaN,733.0,취소,신용카드,14480.0,0.0,2017-11-08 18:39:25
3,1711080902432145,1,2017-11-08 09:04:28,결제취소,서울 영등포구 국제금융로2길 32,G1710311849_6973,(임직원 전용)[아름다운공간] 스윗도자기 원형디스펜서 (2color/400ml),색상:핑크,1,7800.0,...,NaN,NaN,NaN,NaN,734.0,취소,적립금,500.0,NaN,2017-11-08 18:39:25
4,1711080932562165,1,2017-11-08 09:33:20,결제취소,서울 영등포구 국제금융로2길 32,G1710311843_6700,(임직원 전용)[런드레스] 울 캐시미어 스프레이 세다 cedar (4 fl.oz),NaN,1,16200.0,...,NaN,NaN,NaN,NaN,735.0,취소,실시간계좌이체,25420.0,NaN,2017-11-08 09:43:27

In [62]:
df

,ORDER_INFO,ORDER_SEQ,ORDER_DATE,OREDER_CLASS,ADDRESS,PRODUCT_NUM,PRODUCT_NAME,OPTION_NAME,ORDER_QTY,SELL_PRICE,...,PAY_METHOD,PAY_AMOUNT,CARD_COMPANY,PAY_MONTH,REFUND_NUM,REFUND_CLASS,PAY_METHOD,REFUND_AMOUNT,REFRUND_MONTH,REFUND_DATE
0,1711080845542139,1,2017-11-08 08:46:26,환불완료,서울 영등포구 국제금융로2길 32,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1,48840.0,...,NaN,NaN,NaN,NaN,731.0,취소,신용카드,32580.0,0.0,2017-11-30 18:00:06
1,1711080845542139,1,2017-11-08 08:46:26,환불완료,서울 영등포구 국제금융로2길 32,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1,48840.0,...,NaN,NaN,NaN,NaN,732.0,취소,적립금,500.0,NaN,2017-11-30 18:00:06
2,1711080902432145,1,2017-11-08 09:04:28,결제취소,서울 영등포구 국제금융로2길 32,G1710311849_6973,(임직원 전용)[아름다운공간] 스윗도자기 원형디스펜서 (2color/400ml),색상:핑크,1,7800.0,...,NaN,NaN,NaN,NaN,733.0,취소,신용카드,14480.0,0.0,2017-11-08 18:39:25
3,1711080902432145,1,2017-11-08 09:04:28,결제취소,서울 영등포구 국제금융로2길 32,G1710311849_6973,(임직원 전용)[아름다운공간] 스윗도자기 원형디스펜서 (2color/400ml),색상:핑크,1,7800.0,...,NaN,NaN,NaN,NaN,734.0,취소,적립금,500.0,NaN,2017-11-08 18:39:25
4,1711080932562165,1,2017-11-08 09:33:20,결제취소,서울 영등포구 국제금융로2길 32,G1710311843_6700,(임직원 전용)[런드레스] 울 캐시미어 스프레이 세다 cedar (4 fl.oz),NaN,1,16200.0,...,NaN,NaN,NaN,NaN,735.0,취소,실시간계좌이체,25420.0,NaN,2017-11-08 09:43:27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36930,1811062357169433,5,2018-11-06 23:59:03,결제완료,경남 진주시 내동면 순환로 425-61,G1805311432_8296,[월플랜] 셀프도배 전문가세트_(풀바른벽지 /롤벽지 택1),종류:전문가세트(풀바른벽지편),1,28000.0,...,신용카드,191000.0,하나SK카드,2.0,NaN,NaN,NaN,NaN,NaN,NaT
36931,1811070212309446,2,2018-11-07 02:21:54,결제완료,충북 청주시 상당구 단재로 316,G1805311443_8348,[월플랜] 풀바른실크벽지 (뮬리 트윙클화이트)_H7011-1,"종류:만능풀바른벽지,벽높이 선택:230cm",3,29700.0,...,신용카드,142450.0,신한카드,0.0,NaN,NaN,NaN,NaN,NaN,NaT
36932,1811070212309446,3,2018-11-07 02:21:54,결제완료,충북 청주시 상당구 단재로 316,G1805311729_8951,[월플랜] 정배솔,NaN,1,12000.0,...,신용카드,142450.0,신한카드,0.0,NaN,NaN,NaN,NaN,NaN,NaT
36933,1811070212309446,4,2018-11-07 02:21:54,결제완료,충북 청주시 상당구 단재로 316,G1806051452_0740,[월플랜] 풀바른합지벽지 (샤인패브릭 바이올렛)_LG54021-6,"종류:만능풀바른벽지,벽높이 선택:230cm",9,53100.0,...,신용카드,142450.0,신한카드,0.0,NaN,NaN,NaN,NaN,NaN,NaT
36934,1811070853389462,2,2018-11-07 08:58:05,결제완료,전남 광양시 진등2길 13,G1805311646_8841,[월플랜] 풀바른실크벽지 (제인 그레이네이비)_SH70170-6,"종류:만능풀바른벽지,벽높이 선택:230cm",4,39600.0,...,신용카드,87100.0,신한카드,0.0,NaN,NaN,NaN,NaN,NaN,NaT

In [90]:
# 5개 파일 합쳐서 하나의 파일로 만들기
df.to_excel('all_info.xlsx', index=False)

In [91]:
df_customer = df[['CUSTOMER_NUM','CUSTOMER_GR','SUB_DATE','FINAL_VISIT','SELF_VERFICATION','SEX','AGE','ADDRESS_ROAD','ADDRESS_NUM']]
df_customer

,CUSTOMER_NUM,CUSTOMER_GR,SUB_DATE,FINAL_VISIT,SELF_VERFICATION,SEX,AGE,ADDRESS_ROAD,ADDRESS_NUM
0,1876,임직원,2017-11-02 16:10:06,2018-11-06 14:51:02,MOBILE,M,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8
1,1876,임직원,2017-11-02 16:10:06,2018-11-06 14:51:02,MOBILE,M,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8
2,1876,임직원,2017-11-02 16:10:06,2018-11-06 14:51:02,MOBILE,M,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8
3,1876,임직원,2017-11-02 16:10:06,2018-11-06 14:51:02,MOBILE,M,30,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8
4,1882,임직원,2017-11-02 17:11:49,2018-11-06 14:26:03,MOBILE,F,29,서울 영등포구 국제금융로2길 32,서울 영등포구 여의도동 23-8
...,...,...,...,...,...,...,...,...,...
36930,57778,일반,2018-11-06 23:56:37,2018-11-06 23:56:54,MOBILE,F,NaN,-,-
36931,54164,일반,2018-10-23 10:04:26,2018-11-07 01:42:52,MOBILE,F,NaN,-,-
36932,54164,일반,2018-10-23 10:04:26,2018-11-07 01:42:52,MOBILE,F,NaN,-,-
36933,54164,일반,2018-10-23 10:04:26,2018-11-07 01:42:52,MOBILE,F,NaN,-,-
36934,57768,일반,2018-11-06 17:48:30,2018-11-06 17:51:21,MOBILE,M,NaN,-,-

In [95]:
df_customer.to_excel('1_이서영_고객.xlsx', index=False)

In [92]:
df_product = df[['PRODUCT_NUM','PRODUCT_NAME','COMPANY_NAME','CATEGORY_NAME','BRAND_NAME','PRODUCT_CLASS','REP_SELL_PRICE','DELIVERY_COST','SALES_STAT','EXHIBIT_STAT']]
df_product

KeyError: "['COMPANY_NAME'] not in index"

In [98]:
df_order = df[['ORDER_NUM','CUSTOMER_NUM','ORDER_SEQ','ORDER_DATE','ORDER_CLASS','ADDRESS','PRODUCT_NUM','PRODUCT_NAME','OPCTION_NAME','ORDER_QTY','SELL_PRICE','DELIVERY_COST','COUPON_DISCOUNT','CUSTOMER_ORDER']]
df_order

KeyError: "['ORDER_NUM', 'ORDER_CLASS', 'PPRODUCT_NAME', 'OPCTION_NAME'] not in index"

In [ ]:
df_pay = df[[]]